[{lager, [
  {handlers, [
    {lager_console_backend, [info, {lager_default_formatter, [date, " ", time," [",severity,"] ",
        pid, " ", module, " ", function, " ", message, "\n"]}]},
    {lager_file_backend, [{file, "log/errorTest.log"}, {level, error}, {formatter, lager_default_formatter},
        {formatter_config, [date, " ", time," [",severity,"] ",pid, " ", module, " ", function, " ", message, "\n"]}]},
    {lager_file_backend, [{file, "log/debugTest.log"}, {level, debug}, {formatter, lager_default_formatter},
        {formatter_config, [date, " ", time," [",severity,"] ",pid, " ", module, ":", function, " ", message, "\n"]}]},
    {lager_file_backend, [{file, "log/TestResults.log"}, {level, emergency}, {formatter, lager_default_formatter},
        {formatter_config, [date, " ", time," [",severity,"] ",pid, " ", module, ":", function, " ", message, "\n"]}]},
    {lager_file_backend, [{file, "log/consoleTest.log"}, {level, info}, {formatter, lager_default_formatter},
        {formatter_config, [date, " ", time," [",severity,"] ",pid, " ", module, ":", function, " ", message, "\n"]}]}
  ]}
]}].