%
% Project dependencies managed by rebar.
% 1. Lager is the basho logging framework to augment/replace Erlang's built-in logging mechanism
% 2. Cowboy provides the web service infrastructure for the application
% 3. ezk is the Erlang Zookeeper API use by the application
%
{deps, [
    {lager, "2.0.1", {git, "git://github.com/basho/lager.git", {tag, "2.0.1"}}},
    {cowboy, "1.0.0", {git, "https://github.com/ninenines/cowboy", {tag, "1.0.0"}}},
    {ezk, "0.1.*", {git, "git@github.com:EchoTeam/ezk.git", {tag, "v0.1.0"}}}
]}.

%
% Compiler options
%
{erl_opts, [debug_info,
    {parse_transform, lager_transform},
    {src_dirs, ["src", "test"]}
]}.

%
% (E)Unit test options
%
%{eunit_compile_opts, [export_all]}.
%{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

% 
% Code coverage
%
%{cover_enabled, true}.
%{cover_export_enabled, true}.

{sub_dirs, ["rel"]}.
