%%Not needed since relx gets this for free from rebar
%%{lib_dirs, ["./deps"]}. 

%% If you have a sys.config file you need to tell relx where it is. If you do
%% that relx will include the sys.config in the appropriate place
%% automatically.
{sys_config, "./erl-zookeeper.config"}.

%% relx will include src files of your applications, if present, by default.
%% If you don't want to include the src files, set `include_src` to false.
{include_src, false}.

%% When we have multiple releases relx needs to know which one to build. You
%% can specify that on the command line with the `-n` and `-v` arguments to
%% relx. However, it is often more convenient to do it in the config.
{default_release, ez, "0.0.1"}.
{extended_start_script, true}.

{release, {ez, "0.0.1"}, [ez]}.
